<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConnectivityDemo WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ConnectivityDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - ConnectivityDemo WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7B765711B45DBFE00F22F10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B765851B45DBFE00F22F10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B765901B45DBFE00F22F10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B765991B45DBFE00F22F10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B765A81B45DBFE00F22F10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
